@using Abp.Web.Mvc.Extensions
@using Microsoft.Owin.Security
@{
    ViewBag.ActiveMenu = "Home"; //The menu item will be active for this page.
}
<!-- 代码 开始 -->
@section Scripts
{
    @Html.IncludeScript("~/Views/Home/koala.js")
    <script src="~/js/base.js"></script>

  <script type="text/javascript">

      $(function () {
          function callback(data) {
              if (data.result.length > 0) {
                  var divhtml = "";
                  var ahtml = "";
                  for (var i = 0; i < data.result.length; i++) {
                      divhtml = divhtml + "<div class=\"fcon\" style=\"display: none;\">";
                      divhtml = divhtml + "<img src=\"" + virtualDirName + 'Ashx/ThumbImage.ashx?FID=' + data.result[i].imageUrl + "\" style=\"opacity: 1; \" >";
                      divhtml = divhtml + "</div>";
                      if (i + 1 == data.result.length) {
                          ahtml = ahtml + "<a href=\"javascript:void(0)\" hidefocus=\"true\" target=\"_self\" class=\"current\"><i>" + i + 1 + "</i></a>";
                      }
                      else {
                          ahtml = ahtml + "<a href=\"javascript:void(0)\" hidefocus=\"true\" target=\"_self\" class=\"\"><i>" + i + 1 + "</i></a>";
                      }
                  }
  
                  $("#D1fBt").html(ahtml);
                  $("#D1pic1").html(divhtml);

                  Qfast.add('widgets', { path: "@Url.Content("~/Scripts/terminator2.js")", type: "js", requires: ['fx'] });
              Qfast(false, 'widgets', function () {
                  K.tabs({
                      id: 'fsD1',   //焦点图包裹id
                      conId: "D1pic1",  //** 大图域包裹id
                      tabId: "D1fBt",
                      tabTn: "a",
                      conCn: '.fcon', //** 大图域配置class
                      auto: 1,   //自动播放 1或0
                      effect: 'fade',   //效果配置
                      eType: 'click', //** 鼠标事件
                      pageBt: true,//是否有按钮切换页码
                      bns: ['.prev', '.next'],//** 前后按钮配置class
                      interval: 5000  //** 停顿时间
                  })
              });
              }
          };
          topevery.ajax({
              url: 'api/services/app/webSiteAppServer/GetHomePicListAsync',
              type: 'POST',
              contentType: "application/json"
          }, callback, false);
      });
   


    </script>

}

@section Styles
{
    @Html.IncludeStyle("~/Views/Home/lrtk.css")
}

<div id="fsD1" class="focus">
    <div id="D1pic1" class="fPic">
     
    </div>
    <div class="fbg">
        <div class="D1fBt" id="D1fBt">
          
        </div>
    </div>
    <span class="prev"></span>
    <span class="next"></span>
</div>


