@using Abp.Web.Mvc.Extensions
@using Microsoft.Owin.Security
@{
    ViewBag.ActiveMenu = "Home"; //The menu item will be active for this page.
}
<!-- 代码 开始 -->
@section Scripts
{
    @Html.IncludeScript("~/Views/Home/koala.js")

  <script type="text/javascript">
    Qfast.add('widgets', { path: "Scripts/terminator2.js", type: "js", requires: ['fx'] });
							Qfast(false, 'widgets', function () {
								K.tabs({
									id: 'fsD1',   //焦点图包裹id
									conId: "D1pic1",  //** 大图域包裹id
									tabId:"D1fBt",
									tabTn:"a",
									conCn: '.fcon', //** 大图域配置class
									auto: 1,   //自动播放 1或0
									effect: 'fade',   //效果配置
									eType: 'click', //** 鼠标事件
									pageBt:true,//是否有按钮切换页码
									bns: ['.prev', '.next'],//** 前后按钮配置class
									interval: 5000  //** 停顿时间
								})
							})
    </script>

}

@section Styles
{
    @Html.IncludeStyle("~/Views/Home/lrtk.css")
}

<div id="fsD1" class="focus">
    <div id="D1pic1" class="fPic">
        <div class="fcon" style="display: none;">
            <img src="images/20150714095356_32032.png" style="opacity: 1; ">
        </div>
        <div class="fcon" style="display: none;">
            <img src="images/20150626180725_17284.jpg" style="opacity: 1; ">
        </div>
        <div class="fcon" style="display: none;">
            <img src="images/20150714093649_95765.jpg" style="opacity: 1; ">
        </div>

    </div>
    <div class="fbg">
        <div class="D1fBt" id="D1fBt">
            <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>1</i></a>
            <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>2</i></a>
            <a href="javascript:void(0)" hidefocus="true" target="_self" class="current"><i>3</i></a>
            <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>4</i></a>
        </div>
    </div>
    <span class="prev"></span>
    <span class="next"></span>
</div>


