@using Abp.Web.Mvc.Extensions
@using System.Web.Optimization
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7">
   
    <title>后台管理中心</title>
    <link rel="stylesheet" href="~/Content/pintuer.css">
    <link rel="stylesheet" href="~/Content/admin.css">
    @Scripts.Render("~/Bundles/vendor/js/top")
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        /* 虚拟目录名称 */
        virtualDirName = '@ApplicationPath';
    </script>
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>