<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<mimes>
  <mime ext=".cdf" type="application/cdf"/>
  <mime ext=".fif" type="application/fractals"/>
  <mime ext=".spl" type="application/futuresplash"/>
  <mime ext=".hta" type="application/hta"/>
  <mime ext=".hqx" type="application/mac-binhex40"/>
  <mime ext=".infopathxml" type="application/ms-infopath.xml"/>
  <mime ext=".mdb" type="application/msaccess"/>
  <mime ext=".doc" type="application/msword"/>
  <mime ext=".pdf" type="application/pdf"/>
  <mime ext=".p10" type="application/pkcs10"/>
  <mime ext=".p7m" type="application/pkcs7-mime"/>
  <mime ext=".p7s" type="application/pkcs7-signature"/>
  <mime ext=".cer" type="application/pkix-cert"/>
  <mime ext=".crl" type="application/pkix-crl"/>
  <mime ext=".ps" type="application/postscript"/>
  <mime ext=".sch" type="application/schdpl32"/>
  <mime ext=".sdp" type="application/sdp"/>
  <mime ext=".setpay" type="application/set-payment-initiation"/>
  <mime ext=".setreg" type="application/set-registration-initiation"/>
  <mime ext=".smi" type="application/smil"/>
  <mime ext=".ssm" type="application/streamingmedia"/>
  <mime ext=".edn" type="application/vnd.adobe.edn"/>
  <mime ext=".pdx" type="application/vnd.adobe.pdx"/>
  <mime ext=".rmf" type="application/vnd.adobe.rmf"/>
  <mime ext=".xdp" type="application/vnd.adobe.xdp+xml"/>
  <mime ext=".xfd" type="application/vnd.adobe.xfd+xml"/>
  <mime ext=".xfdf" type="application/vnd.adobe.xfdf"/>
  <mime ext=".fdf" type="application/vnd.fdf"/>
  <mime ext=".xls" type="application/vnd.ms-excel"/>
  <mime ext=".mpf" type="application/vnd.ms-mediapackage"/>
  <mime ext=".sst" type="application/vnd.ms-pki.certstore"/>
  <mime ext=".pko" type="application/vnd.ms-pki.pko"/>
  <mime ext=".cat" type="application/vnd.ms-pki.seccat"/>
  <mime ext=".stl" type="application/vnd.ms-pki.stl"/>
  <mime ext=".ppt" type="application/vnd.ms-powerpoint"/>
  <mime ext=".pub" type="application/vnd.ms-publisher"/>
  <mime ext=".wpl" type="application/vnd.ms-wpl"/>
  <mime ext=".rms" type="application/vnd.rn-realaudio-secure"/>
  <mime ext=".rm" type="application/vnd.rn-realmedia"/>
  <mime ext=".rms" type="application/vnd.rn-realmedia-secure"/>
  <mime ext=".rmvb" type="application/vnd.rn-realmedia-vbr"/>
  <mime ext=".rnx" type="application/vnd.rn-realplayer"/>
  <mime ext=".rjs" type="application/vnd.rn-realsystem-rjs"/>
  <mime ext=".rjt" type="application/vnd.rn-realsystem-rjt"/>
  <mime ext=".rmj" type="application/vnd.rn-realsystem-rmj"/>
  <mime ext=".rmx" type="application/vnd.rn-realsystem-rmx"/>
  <mime ext=".rec" type="application/vnd.rn-recording"/>
  <mime ext=".rmp" type="application/vnd.rn-rn_music_package"/>
  <mime ext=".rsml" type="application/vnd.rn-rsml"/>
  <mime ext=".vsd" type="application/vnd.visio"/>
  <mime ext=".cdf" type="application/x-cdf"/>
  <mime ext=".z" type="application/x-compress"/>
  <mime ext=".tgz" type="application/x-compressed"/>
  <mime ext=".etd" type="application/x-ebx"/>
  <mime ext=".gz" type="application/x-gzip"/>
  <mime ext=".ins" type="application/x-internet-signup"/>
  <mime ext=".iii" type="application/x-iphone"/>
  <mime ext=".jnlp" type="application/x-java-jnlp-file"/>
  <mime ext=".lar" type="application/x-laplayer-reg"/>
  <mime ext=".latex" type="application/x-latex"/>
  <mime ext=".nix" type="application/x-mix-transfer"/>
  <mime ext=".asx" type="application/x-mplayer2"/>
  <mime ext=".wmd" type="application/x-ms-wmd"/>
  <mime ext=".wmz" type="application/x-ms-wmz"/>
  <mime ext=".xls" type="application/x-msexcel"/>
  <mime ext=".ppt" type="application/x-mspowerpoint"/>
  <mime ext=".p12" type="application/x-pkcs12"/>
  <mime ext=".p7b" type="application/x-pkcs7-certificates"/>
  <mime ext=".p7r" type="application/x-pkcs7-certreqresp"/>
  <mime ext=".swf" type="application/x-shockwave-flash"/>
  <mime ext=".sit" type="application/x-stuffit"/>
  <mime ext=".tar" type="application/x-tar"/>
  <mime ext=".man" type="application/x-troff-man"/>
  <mime ext=".vpg" type="application/x-vpeg005"/>
  <mime ext=".cer" type="application/x-x509-ca-cert"/>
  <mime ext=".zip" type="application/x-zip-compressed"/>
  <mime ext=".xml" type="application/xml"/>
  <mime ext=".3gp" type="audio/3gpp"/>
  <mime ext=".3gp" type="audio/3gpp-encrypted"/>
  <mime ext=".aiff" type="audio/aiff"/>
  <mime ext=".3gp" type="audio/AMR"/>
  <mime ext=".3gp" type="audio/AMR-encrypted"/>
  <mime ext=".3gp" type="audio/AMR-WB"/>
  <mime ext=".3gp" type="audio/AMR-WB-encrypted"/>
  <mime ext=".au" type="audio/basic"/>
  <mime ext=".mid" type="audio/mid"/>
  <mime ext=".mid" type="audio/midi"/>
  <mime ext=".mp3" type="audio/mp3"/>
  <mime ext=".mp3" type="audio/mpeg"/>
  <mime ext=".m3u" type="audio/mpegurl"/>
  <mime ext=".mp3" type="audio/mpg"/>
  <mime ext=".mpga" type="audio/rn-mpeg"/>
  <mime ext=".ra" type="audio/vnd.rn-realaudio"/>
  <mime ext=".wav" type="audio/wav"/>
  <mime ext=".aiff" type="audio/x-aiff"/>
  <mime ext=".lmsff" type="audio/x-la-lms"/>
  <mime ext=".lqt" type="audio/x-la-lqt"/>
  <mime ext=".la1" type="audio/x-liquid-file"/>
  <mime ext=".lavs" type="audio/x-liquid-secure"/>
  <mime ext=".acp" type="audio/x-mei-aac"/>
  <mime ext=".mid" type="audio/x-mid"/>
  <mime ext=".mid" type="audio/x-midi"/>
  <mime ext=".mp3" type="audio/x-mp3"/>
  <mime ext=".mp3" type="audio/x-mpeg"/>
  <mime ext=".m3u" type="audio/x-mpegurl"/>
  <mime ext=".mp3" type="audio/x-mpg"/>
  <mime ext=".wax" type="audio/x-ms-wax"/>
  <mime ext=".wma" type="audio/x-ms-wma"/>
  <mime ext=".mnd" type="audio/x-musicnet-download"/>
  <mime ext=".mns" type="audio/x-musicnet-stream"/>
  <mime ext=".ram" type="audio/x-pn-realaudio"/>
  <mime ext=".ra" type="audio/x-realaudio"/>
  <mime ext=".rms" type="audio/x-realaudio-secure"/>
  <mime ext=".3gp" type="audio/X-RN-3GPP-AMR"/>
  <mime ext=".3gp" type="audio/X-RN-3GPP-AMR-encrypted"/>
  <mime ext=".3gp" type="audio/X-RN-3GPP-AMR-WB"/>
  <mime ext=".3gp" type="audio/X-RN-3GPP-AMR-WB-encrypted"/>
  <mime ext=".wav" type="audio/x-wav"/>
  <mime ext=".bmp" type="image/bmp"/>
  <mime ext=".gif" type="image/gif"/>
  <mime ext=".jpg" type="image/jpeg"/>
  <mime ext=".jpg" type="image/pjpeg"/>
  <mime ext=".png" type="image/png"/>
  <mime ext=".tif" type="image/tiff"/>
  <mime ext=".mdi" type="image/vnd.ms-modi"/>
  <mime ext=".rp" type="image/vnd.rn-realpix"/>
  <mime ext=".ico" type="image/x-icon"/>
  <mime ext=".png" type="image/x-png"/>
  <mime ext=".xbm" type="image/x-xbitmap"/>
  <mime ext=".xbm" type="image/xbm"/>
  <mime ext=".mid" type="midi/mid"/>
  <mime ext=".ics" type="text/calendar"/>
  <mime ext=".css" type="text/css"/>
  <mime ext=".323" type="text/h323"/>
  <mime ext=".htm" type="text/html"/>
  <mime ext=".uls" type="text/iuls"/>
  <mime ext=".txt" type="text/plain"/>
  <mime ext=".wsc" type="text/scriptlet"/>
  <mime ext=".rt" type="text/vnd.rn-realtext"/>
  <mime ext=".r3t" type="text/vnd.rn-realtext3d"/>
  <mime ext=".htt" type="text/webviewhtml"/>
  <mime ext=".htc" type="text/x-component"/>
  <mime ext=".iqy" type="text/x-ms-iqy"/>
  <mime ext=".odc" type="text/x-ms-odc"/>
  <mime ext=".rqy" type="text/x-ms-rqy"/>
  <mime ext=".vcf" type="text/x-vcard"/>
  <mime ext=".xml" type="text/xml"/>
  <mime ext=".3gp" type="video/3gpp"/>
  <mime ext=".3gp" type="video/3gpp-encrypted"/>
  <mime ext=".avi" type="video/avi"/>
  <mime ext=".mpeg" type="video/mpeg"/>
  <mime ext=".mpg" type="video/mpg"/>
  <mime ext=".avi" type="video/msvideo"/>
  <mime ext=".rv" type="video/vnd.rn-realvideo"/>
  <mime ext=".rms" type="video/vnd.rn-realvideo-secure"/>
  <mime ext=".ivf" type="video/x-ivf"/>
  <!--
	<mime ext=".mpeg" type="video/x-mpeg"/>
	<mime ext=".mpeg" type="video/x-mpeg2a"/>
   -->
  <mime ext=".asx" type="video/x-ms-asf"/>
  <mime ext=".asx" type="video/x-ms-asf-plugin"/>
  <mime ext=".wm" type="video/x-ms-wm"/>
  <mime ext=".wmv" type="video/x-ms-wmv"/>
  <mime ext=".wmx" type="video/x-ms-wmx"/>
  <mime ext=".wvx" type="video/x-ms-wvx"/>
  <mime ext=".avi" type="video/x-msvideo"/>
</mimes>