<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <dataConfiguration defaultDatabase="fmpDatabase"/>
  <appSettings/>
  <connectionStrings>
    <add name="fmpDatabase" connectionString="Server=192.168.0.200,1533;uid=sa;pwd=sa;Database=ty_fmp;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>