@using Topevery.Web.Models.File
@section scripts
{
    <script src="~/js/base.js"></script>
    <script src="~/Areas/Admin/Views/Product/Add.js"></script>
}
    <div class="panel admin-panel">
        <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加内容</strong></div>
        <div class="body-content">
            <form method="post" class="form-x" action="">
                <div class="form-group">
                    <div class="label">
                        <label>标题：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w50" value="" name="title" data-validate="required:请输入标题" />
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>产品图片：</label>
                    </div>
                    <div class="field">
                        @Html.Partial("UploadFilePartialView", new UploadFileDto()
               {
                   UploadId = "IdFile",
                   UploadContentType = "jpeg,jpg,png"
               })
                    </div>

                </div>
                <div class="form-group">
                    <div class="label">
                        <label>样式图片：</label>
                    </div>
                    <div class="field">
                        @Html.Partial("UploadFilePartialView", new UploadFileDto()
                   {
                       UploadId = "IdFile2",
                       UploadContentType = "jpeg,jpg,png"
                   })
                    </div>
                </div>

                <div class="form-group">
                    <div class="label">
                        <label>描述：</label>
                    </div>
                    <div class="field">
                        <textarea class="input" name="note" style=" height:90px;"></textarea>
                        <div class="tips"></div>
                    </div>
                </div>
               

                <div class="clear"></div>
                <div class="form-group">
                    <div class="label">
                        <label>货号：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input" name="s_title" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>尺寸：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input" name="s_keywords" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>包装：</label>
                    </div>
                    <div class="field">
                        <textarea type="text" class="input" name="s_desc" style="height:80px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>排序：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w50" name="sort" value="0" data-validate="number:排序必须为数字" />
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label></label>
                    </div>
                    <div class="field">
                        <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
