<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="topevery.data" type="Topevery.Framework.Data.Configuration.DataConfigurationSection,Topevery.Framework.Data"/>
		<sectionGroup name="topevery.serviceModel" type="Topevery.Framework.ServiceModel.Configuration.ServiceModelSectionGroup,Topevery.Framework.ServiceModel">
			<section name="serviceGroups" type="Topevery.Framework.ServiceModel.Configuration.ServiceGroupsSection,Topevery.Framework.ServiceModel"/>
		</sectionGroup>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
		<section name="topevery.fmp" type="Topevery.FMP.ObjectModel.Configuration.FMPConfigurationSection,Topevery.FMP.ObjectModel"/>
	</configSections>
	<appSettings/>
	<connectionStrings>
		<add name="fmpDatabase" connectionString="Server=192.168.0.53,1533;uid=sa;pwd=sa;Database=ty_fmp;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<topevery.data>
		<dataGroups>
			<dataGroup name="topevery.fmp" database="fmpDatabase">
				<dataProviders>
					<dataProvider name="RecordLocked" type="Topevery.FMP.Data.SqlClient.SqlRecordLockedDataProvider,Topevery.FMP.Data"/>
					<dataProvider name="FileStorageProvider" type="Topevery.FMP.Data.SqlClient.SqlFileStorageProviderDataProvider,Topevery.FMP.Data"/>
				</dataProviders>
			</dataGroup>
		</dataGroups>
	</topevery.data>
	<topevery.serviceModel>
		<serviceGroups>
			<serviceGroup name="topevery.fmp">
				<client baseAddress="http://localhost/Topevery.FMP.Web/">
					<service name="RemoteFileStorage" type="Topevery.FMP.Logic.RemoteFileStorageService,Topevery.FMP.Logic"/>
				</client>
			</serviceGroup>
		</serviceGroups>
	</topevery.serviceModel>
	<topevery.fmp>
		<fileStorage provider="Topevery.FMP.Logic.LocalFileStorageProvider,Topevery.FMP.Logic" server="" port="0" rootFolder="E:\RSData" userName="" password="" database="">
		</fileStorage>
	</topevery.fmp>
</configuration>