<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <sectionGroup name="topevery.serviceModel" type="Topevery.Framework.ServiceModel.Configuration.ServiceModelSectionGroup,Topevery.Framework.ServiceModel">
      <section name="serviceGroups" type="Topevery.Framework.ServiceModel.Configuration.ServiceGroupsSection,Topevery.Framework.ServiceModel"/>
    </sectionGroup>
    <section name="topevery.data" type="Topevery.Framework.Data.Configuration.DataConfigurationSection,Topevery.Framework.Data"/>

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Topevery.FMP.Client.Demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>

  </configSections>
  <dataConfiguration defaultDatabase="fmpDatabase"/>
  <appSettings/>
  <connectionStrings>
    <add name="fmpDatabase" connectionString="Server=192.168.0.200,1533;uid=sa;pwd=sa;Database=ty_fmp;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <topevery.data>
    <dataGroups>
      <dataGroup name="topevery.fmp" database="fmpDatabase">
        <dataProviders>
          <dataProvider name="Membership" type="Topevery.FMP.Data.SqlClient.SqlMembershipDataProvider,Topevery.FMP.Data"/>
          <dataProvider name="Deparment" type ="Topevery.FMP.Data.SqlClient.SqlDepartmentDataProvider,Topevery.FMP.Data"/>
          <dataProvider name ="SystemDictionary" type="Topevery.FMP.Data.SqlClient.SqlSystemDictionaryDataProvider,Topevery.FMP.Data"/>
          <dataProvider name ="NumberGenerator" type="Topevery.FMP.Data.SqlClient.SqlNumberGeneratorAdapterDataProvider,Topevery.FMP.Data"/>
          <dataProvider name ="Role" type="Topevery.FMP.Data.SqlClient.SqlRoleDataProvider,Topevery.FMP.Data"/>
        </dataProviders>
      </dataGroup>
    </dataGroups>
  </topevery.data>
  <topevery.serviceModel>
    <serviceGroups>
      <serviceGroup name="topevery.fmp">
        <client baseAddress="http://192.168.0.53/Topevery.FMP.Web/">         
          <securityToken userName ="userName" password ="userName"/>
          <service name ="MembershipService" address="membership/" type ="Topevery.FMP.Logic.MembershipService,Topevery.FMP.Logic"></service>
          <service name ="DepartmentService" type="Topevery.FMP.Logic.DepartmentService,Topevery.FMP.Logic"></service>
          <service name ="SystemDictionaryService" type ="Topevery.FMP.Logic.SystemDictionaryService,Topevery.FMP.Logic"></service>
          <service name ="NumberGeneratorService" type ="Topevery.FMP.Logic.NumberGeneratorService,Topevery.FMP.Logic"></service>
          <service name ="RoleService" type ="Topevery.FMP.Logic.RoleService,Topevery.FMP.Logic"></service>
        </client>
      </serviceGroup>
    </serviceGroups>
  </topevery.serviceModel>

  <system.serviceModel>
    <client>

      <endpoint address="net.tcp://localhost:8888/fmp/services/membership/"
          binding="customBinding"  bindingConfiguration="topevery.fmp.client"
          contract="Topevery.FMP.ObjectModel.IMembership"
          name="Topevery.FMP.Proxy.MembershipClient"
          behaviorConfiguration="topevery.com.client">
        <identity>
          <dns value="fmp.topevery.com" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8080/fmp/services/membership/"
          binding="customBinding" bindingConfiguration="topevery.fmp.client.http"
          contract="Topevery.FMP.ObjectModel.IMembership"
          name="MembershipServcieHttp"
          behaviorConfiguration="topevery.com.client">
        <identity>
          <dns value="fmp.topevery.com" />
        </identity>
      </endpoint>

    </client>
    <bindings>
      <customBinding>
        <binding name="topevery.fmp.client">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport"
              requireDerivedKeys="true" securityHeaderLayout="Strict" includeTimestamp="false"
              keyEntropyMode="CombinedEntropy"
            messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings cacheCookies="true" detectReplays="false"
                replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite"
                replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00"
                sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true"
                timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
            <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00"
                maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
                negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
                sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
                reconnectTransportOnFailure="true" maxPendingSessions="128"
                maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
            <secureConversationBootstrap />
          </security>
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
              maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <sslStreamSecurity requireClientCertificate="false" />
          <tcpTransport manualAddressing="false" maxBufferPoolSize="524288"
              maxReceivedMessageSize="65536" connectionBufferSize="8192"
              hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:00:05"
              maxBufferSize="65536" maxPendingConnections="10" maxOutputDelay="00:00:00.2000000"
              maxPendingAccepts="1" transferMode="Buffered" listenBacklog="10"
              portSharingEnabled="false" teredoEnabled="false">
            <connectionPoolSettings groupName="default" leaseTimeout="00:05:00"
                idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="10" />
          </tcpTransport>
        </binding>

        <binding name="topevery.fmp.client.http">
          <security authenticationMode="UserNameOverTransport" includeTimestamp="false"></security>
          <textMessageEncoding></textMessageEncoding>
          <sslStreamSecurity requireClientCertificate="false" />
          <httpTransport transferMode="Buffered" maxReceivedMessageSize="655360000"/>

        </binding>

      </customBinding>
      <wsHttpBinding>
        <binding name="topevery.fmp.client">

        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="topevery.com.client"  >
          <clientCredentials>
            <serviceCertificate>
              <!-- 
              Setting the certificateValidationMode to PeerOrChainTrust means that if the certificate 
              is in the user's Trusted People store, then it will be trusted without performing a
              validation of the certificate's issuer chain. This setting is used here for convenience so that the 
              sample can be run without having to have certificates issued by a certificate authority (CA).
              This setting is less secure than the default, ChainTrust. The security implications of this 
              setting should be carefully considered before using PeerOrChainTrust in production code. 
              -->
              <authentication certificateValidationMode="PeerOrChainTrust" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <applicationSettings>
    <Topevery.FMP.Client.Demo.Properties.Settings>
      <setting name="Topevery_FMP_Client_Demo_localhost_MembershipService"
        serializeAs="String">
        <value>http://localhost/Topevery.FMP.Web/WebServices/MembershipService.asmx</value>
      </setting>
    </Topevery.FMP.Client.Demo.Properties.Settings>
  </applicationSettings>
</configuration>