<div class="clear"></div>
<div class="footer">
    <div class="footer_middle">
        <p class="footer_title"><img style="position:relative;top:20px;" src="~/images/footlogo.png" />&nbsp &nbsp &nbsp <span>Shenzhen J & F Trading Co., Ltd.</span></p>
        <p style="margin-top:5px;">Room 1215, Weidonghua Business Building,</p>
        <p style="margin-top:5px;"> Qinglong Rd.,Longhua Street, Longhua New Dist., Shenzhen, China</p>
        <p style="margin-top:5px;">Mobil: +86 18025366797</p>
        <p style="margin-top:5px;"> Website:  <a  href="http://www.jandftrading.com/">www.jandftrading.com</a>   FaceBook: <a href="http://www.facebook.com/jandftrading/">www.facebook.com/jandftrading</a>
</p>
    </div>
</div>