<div class="clear"></div>
<div class="footer">
    <div class="footer_middle" style="font-weight:bold">
        <p class="footer_title"><img style="position:relative;top:20px;" src="~/images/footlogo.png" /> <span>Shenzhen J & F Trading Co., Ltd.</span></p>
        <p style="margin-top:5px;">&nbsp;</p>
        <p style="margin-top:5px;">&nbsp;&nbsp;&nbsp; Room 1215, Weidonghua Business Building,Qinglong Rd.,Longhua Street, </p>
        <p style="margin-top:5px;">&nbsp;&nbsp;&nbsp;Longhua New Dist., Shenzhen, China.   Mob: +86 18025366797</p>
        <p style="margin-top:5px;">&nbsp;&nbsp;&nbsp; Website:  <a  href="http://www.jandftrading.com/">www.jandftrading.com</a>   Facebook: <a href="http://www.facebook.com/jandftrading/">www.facebook.com/jandftrading</a>
</p>
    </div>
</div>